body{
    font-family: Arial;
    font-size: 18px;
    
}
a{
    text-decoration: none;
    color: black;
}
div{
    border-style: solid;
    border-width: 1px;
}
img{
    margin-left: auto;
    margin-right: auto;
}

#banner-panel{
    text-align: center;
    width: 100%;
}

#left-panel{
    float: left;
    width: 40%;
    box-sizing: border-box;
    height: 500px;
}
#content-panel{
    box-sizing: border-box;
    float: left;
    width: 60%;
    height: 500px;

}